* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    background-color: #003d3d;
    color: #C0C0C0;
    padding: 0;
    text-shadow: 3px 3px 5px #000000;
}

header {
    background-color: #00008B;
    color: #C0C0C0;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 4px 8px #000000;
    text-shadow: 3px 3px 5px #000000;
}

h1 {
    margin: 0;
    text-shadow: 3px 3px 5px #000000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #C0C0C0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    text-shadow: 3px 3px 5px #000000;
}

nav a:hover {
    color: #f4b400;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    width: 100%;
}

.card {
    background-color: #003366;
    color: #C0C0C0;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 8px #000000;
    border: 3px solid #000000;
    text-shadow: 3px 3px 5px #000000;
    margin-bottom: 2rem;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card p {
    font-size: 1rem;
    color: #C0C0C0;
    text-shadow: 3px 3px 5px #000000;
}

footer {
    background-color: #333333;
    color: #C0C0C0;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 4px 8px #000000;
    text-shadow: 3px 3px 5px #000000;
}

footer p {
    margin: 0.5rem 0;
}

.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px #E0E0E0;
    margin-bottom: 20px;
}

.about-me-text {
    flex: 1;
    margin-right: 20px;
    max-width: 50%;
    color: #C0C0C0;
    text-shadow: 3px 3px 5px #000000;
}

.about-me-image {
    flex: 1;
    max-width: 30%;
}

.about-me-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-me-title {
    background-color: #000080;
    color: #C0C0C0;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #000000;
    text-shadow: 3px 3px 5px #000000;
}

.provo-title {
    background-color: #000080;
    color: #C0C0C0;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #000000;
    text-shadow: 3px 3px 5px #000000;
}

.provo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px #E0E0E0;
    margin-bottom: 20px;
}

.provo-text {
    flex: 1;
    max-width: 50%;
    color: #C0C0C0;
    text-shadow: 3px 3px 5px #000000;
}

.provo-image {
    flex: 1;
    max-width: 40%;
}

.provo-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.web-dev-resources-title {
    background-color: #000080;
    color: #C0C0C0;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #000000;
    text-shadow: 3px 3px 5px #000000;
}

.web-dev-resources-container {
    background-color: #003366;
    color: #C0C0C0;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 8px #E0E0E0;
    margin-bottom: 2rem;
}

.web-dev-resources-container ul {
    list-style-type: none;
    padding: 0;
}

.web-dev-resources-container li {
    margin: 0.5rem 0;
}

.web-dev-resources-container a {
    color: #C0C0C0;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 3px 3px 5px #000000;
}

.web-dev-resources-container a:hover {
    color: #f4b400;
}

.card-3 {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100%;
}

.web-dev-resources-container {
    flex: 1;
    background-color: #003366;
    color: #C0C0C0;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 8px #E0E0E0;
    margin-bottom: 2rem;
}
