body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00CCCC;
    color: #000080;
    padding: 10px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.sun-icon {
    position: fixed;
    font-size: 40px;
    color: #FFDD00;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

header h1 {
    color: #000080;
}

footer {
    background-color: #00CCCC;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}

header::before, footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00CCCC;
    box-shadow: 0 0 15px #00CCCC;
}

header::before {
    top: 0;
    left: 0;
}

footer::before {
    top: 0;
    left: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #000080;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.navigation a:hover {
    color: #000000;
    background-color: #00B3B3;
    border-radius: 5px;
}

#temple-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

section {
    background-color: #F0EAD6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00CCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: scale(1.4);
    box-shadow: 0 4px 20px #00CCCC;
}

@media (max-width: 767px) {
    #temple-gallery {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
}

@media (min-width: 768px) {
    #temple-gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    section {
        padding: 15px;
    }

    h2 {
        color: #000080;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin: 10px 0;
        padding: 0 10px;
    }
}
