:root {
    --text-light: #F0F0F0;
    --text-accent: #FFD700;
    --bg-dark: #002b2b;
    --highlight: #228B22;
    --hover: #66BB6A;
    --header-bg: #00008B;
    --footer-bg: #333333;
    --text-shadow: 3px 3px 5px #000000;
    --box-shadow: 0px 4px 8px #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    background-color: var(--bg-dark);
    color: var(--text-light); 
    padding: 0;
    text-shadow: var(--text-shadow);
}

header {
    background-color: var(--header-bg);
    color: var(--text-light);
    padding: 1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}

h1 {
    margin: 0;
    text-shadow: var(--text-shadow);
}

nav ul {
    display: flex;
    justify-content: center;
    
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    text-shadow: var(--text-shadow);
}

nav a:hover {
    color: var(--text-accent);
}

span {
    text-indent: 20px;
    text-align: center;
}

.confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.confirmation table {
    padding: 1vw;
    margin-left: 20vw;
}

main {
    max-width: 550px;
    margin: 5rem auto;
    padding: 2rem;
    display: flex;
    grid-template-columns: 3fr 1fr;
    gap: 5rem;
    width: 150%;
}

form {
    background-color: var(--highlight);
    padding: 1vw;
    border-radius: 25px;
}
form div {
    margin: 10px;
    padding: 5px;
    border: 1px solid #000000;
}

form textarea {
    width: 90%;
    min-height: 150px;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 1;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 90%;
}

form input[type="submit"]:hover {
    background-color: var(--hover);
}

footer {
    background-color: var(--footer-bg);
    color: var(--text-light);
    padding: 1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}

footer p {
    margin: 0.5rem 0;
}

.form-center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
